<!DOCTYPE html>
<!-- Structure de la page web principale -->
<html lang="fr">

    <head>
	{% block head %}
        <title>Site de Julien RINGENBACH </title>
	{% endblock %}
    </head>

    <body>
        <header>Site personnel</header>
        <nav>
            {% block nav %}
                <ul>
                    <li><a href="/">Accueil</a>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            {% endblock %}
        </nav>

        <section id="content">
            {% block content %} {% endblock %}
        </section>

        <footer>&copy;
            Site personnel
        </footer>

    </body>

</html>
