h1{
   background-color: yellow;
}

#block{
   height: 80%;
   width: 80%;
}

#map {
   background-color: #b5d0d0;
   float: left;
   height: 500px;
   width: 500px;
}

#map2{
   background-color: #b5d0d0;
   margin-left: 510px;
   height: 500px;
   width: 500px;
}

.half-map{
   height: 40%;
   width: 50%;
}

#overlay{
    background-color: yellow;
    border-radius: 10px;
    height: 20px;
    width:20px;
}
