<!-- Extends doit être le premier tag du template -->
{% extends "base.html" %}

{% load static %}

{% block head %}
<!-- On charge la feuille de style de begin.css -->
	<link rel="stylesheet" href="{% static 'map/css/begin.css' %}" type="text/css"/>

	<!-- On charge la feuille de style d'openlayers -->
	<link rel="stylesheet" href="{% static 'map/css/ol.css' %}" type="text/css"/>

	<!-- On charge la bibliothèque d'OpenLayers -->
	<script type="text/javascript" src="{% static 'map/js/ol4-1-1/ol.js' %}"></script>

	<title>Map : Julien RINGENBACH</title>
{% endblock %}

<body>
	{% block content %}
		<h1> Test sur le webmapping avec OpenLayers</h1>
		<div id="map">
			<p>On est dans le div</p>
		</div>
		<h1> Test sur le webmapping avec OpenLayers</h1>

	{% endblock %}

	<!-- Fichier js relatif à begin.html-->
	<script type="text/javascript" src="{% static 'map/js/openlayers.js' %}"></script>
</body>



