<!-- Extends doit être le premier tag du template -->
{% extends "base.html" %}

{% load static %}

{% block head %}
<!-- On charge la feuille de style de begin.css -->
	<link rel="stylesheet" href="{% static 'map/css/map04.css' %}" type="text/css"/>

	<!-- On charge la feuille de style d'openlayers -->
	<link rel="stylesheet" href="{% static 'map/css/ol.css' %}" type="text/css"/>

	<!-- On charge la bibliothèque d'OpenLayers -->
	<script type="text/javascript" src="{% static 'map/js/ol4-1-1/ol-debug.js' %}"></script>

	<title>Map04 : Julien RINGENBACH</title>
{% endblock %}

<body>
	{% block content %}
		<h1> Test sur le webmapping avec OpenLayers</h1>
		<div id="block">
			<div id="map" class="half-map">
			
			</div>
			<div id="map2" class="half-map">
			</div>
		</div>

		<input type="checkbox" id="visible" checked>Toggle Layer Visibility</input>

		<button id="Bouton" onclick="changeTarget();">Change Target</button>
		
		<h1> Test sur le webmapping avec OpenLayers</h1>

	<!-- Fichier js relatif à begin.html-->
	<script type="text/javascript" src="{% static 'map/js/map04.js' %}"></script>

	{% endblock %}

</body>

